body{
    margin: 0;
}

.slider{
    position: relative;
    width: 100%;
    max-width: 600px;
    margin: auto;
    overflow: hidden;
    display: block;
}

.slide{
    width: 100%;
    display: none;

}

.prev,.next{
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    padding: 12px;
    font-size: 18px;
    background: rgba(0 ,0 ,0 ,0.5);
    color: white;
    border: none;
    cursor: pointer;
    z-index: 1;

}
.prev{
    left: 0;
}

.next{
    right: 0;
}